APP_NAME="Ramina HR"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost

APP_LOCALE=id
APP_FALLBACK_LOCALE=en

LOG_CHANNEL=stack
LOG_LEVEL=debug

SESSION_DRIVER=file
SESSION_LIFETIME=120
CACHE_STORE=file
CACHE_DRIVER=file

ODOO_URL=http://localhost:8069
ODOO_DB=ramina
ODOO_USERNAME=admin
ODOO_API_KEY=
ODOO_TIMEOUT=30
